## 1
```
What can Python do?

(A)Python can be used on a server to create web applications.

(B)Python can be used alongside software to create workflows.

(C)Python can connect to database systems. It can also read and modify files.

(D)Python can be used to handle big data and perform complex mathematics.



-answer: https://www.w3schools.com/python/python_intro.asp

What can Python do?

Python can be used on a server to create web applications.

Python can be used alongside software to create workflows.

Python can connect to database systems. It can also read and modify files.

Python can be used to handle big data and perform complex mathematics.

Python can be used for rapid prototyping, or for production-ready software development. Why Python?

2
Python uses __________ to indicate a block of code

(A) [] (B) {} (C) () (D) indentation

answer https://www.w3schools.com/python/python_syntax.asp

Python uses indentation to indicate a block of code.

ANSWER (D) indentation
 
3
Python has commenting capability for the purpose of in-code documentation. Comments start with a __________

(A) A (B) # (C) / (D)&

ANSWER (B) #

4
```

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)

apple

## answer (A) APPLE

## 5.)

In [2]:
students = { 'name' => 'alice' ;  'score' =>60 }

SyntaxError: ignored

In [3]:
students = { 'name' = 'alice' ;  'score' =60 }

SyntaxError: ignored

In [4]:
students = { 'name' : 'alice' ;  'score' : 60 }

SyntaxError: ignored

In [5]:
students = { 'name' => 'alice' ,  'score' =>60 }

SyntaxError: ignored

In [6]:
students = { 'name' : 'alice' , 'score' : 60 }

## ANSWER (E) STUDENTS = {  'name' : 'alice' , 'score' : 60 }

## 6

In [7]:
x = 5
y = "John"
   
print(x + y)

TypeError: ignored

## ANSWER (D) Python will give you an error

## 7
```
(A)13//5 output: 2.6

(B) 13/5 output: 2.6

(C)13%5 output:3

(D)y = int(2.8) output:2

 ANSWER (B) 13/5 output: 2.6
```

## 8
```
What does the following Python program fragment do?

s=0

for i in range (3 , 11) :

    s+=i
```

In [ ]:
s=0
   
for i in range (3 , 11) :       
 s+=i
print (s)

In [11]:
x = range(3,11)

for n in x:
  print(n)

3
4
5
6
7
8
9
10

##  ANSWER (D) Calculate the sum of 3+4+5+6+…+10

## 9

In [12]:
a = "Hello, World!"
print(a[2:5]+ a[3:8])

llolo, W

## (C) llolo, W

## 10

##
```
 Which function can returns the length of a string? a = "Hello, Pythonian!" print(_________)

(A) len(a) (B) length(a) (C) count(a) (D) num(a)

https://www.w3schools.com/python/python_strings.asp

(B) length(a)
```

## 11 
```
What is the output of this code in Python?

  list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]

  print (list [ 1 : ])
```

In [13]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print (list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']


```
ANSWER (D) [ 'b' , 'c' , 'd' , 'e' ]
```

## 12
```
What is the output of this code in Python?

    L1 = [ ]

    L1.append ( [1, [2, 3], 4] )

    L1.extend ( [7, 8, 9] )

    print(L1[0][1][1] + L1[2] )
```

In [14]:
L1 = []
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )

print(L1[0][1][1] + L1[2])

11

## ANSWER (C)11

##13
```
Check if "free" is present in the following text:

txt = "The best things in life are free!" print("free" ______ txt)

Which is the correct answer?

(A) on (B) with (C) at (D) in
```

In [15]:
txt = "The best things in life are free!"
print("free" in txt)

True

## ANSWER (D) IN

## 14
```
Which of the following conditions correctly describes the output of this code in Python?

     first = [1 , 2 , 3 , 4 , 5]

     second = first

     second.append (6)

     print (first)

     print (second)

(A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6]

(B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5]

(C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5]

(D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]

(E) None of these
```

In [16]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

## (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]

## 15
```
Python has a set of built-in methods that you can use on strings. Which method can converts string into lower case ?

(A)capitalize() (B) casefold() (C) lower()
(D)expandtabs()
```

## https://www.programiz.com/python-programming/methods/string/lower#:~:text=The%20lower()%20method%20converts,lowercase%20characters%20and%20returns%20it.

ASNWER (C) LOWER ()

## 16
```
Python Booleans Which one of the following statements is wrong?

(A) Booleans represent one of two values: True or False.

(B) The bool() function allows you to evaluate any value, and give you True or False in return,

(C) print(10 > 9) will output True

(D) print(10 = 9) will output True
```

In [17]:
print(10 = 9)

SyntaxError: ignored

## (D) print(10 = 9) will output True

## 17
```
Python Lists Which of the following statements is wrong?

(A) Lists are used to store multiple items in a single variable.

(B) Lists are created using square brackets

(C) List items are ordered, changeable, and allow duplicate values.

(D) Lists can not have items with the same value

```

## ANSWER (D) Lists can not have items with the same value

## 18
```
Which one of the codes will output ['apple', 'orange', 'banana', 'cherry'] ?

mylist = ["apple", "banana", "cherry"] _____________________ print(mylist)

(A)mylist.append("orange")

(B)mylist.insert(0, "orange")

(C)mylist.insert(1, "orange")

(D)mylist.insert(2, "orange")
```

In [18]:
['apple', 'orange', 'banana', 'cherry']
mylist = ["apple", "banana", "cherry"]

mylist.insert(1, "orange")   
print(mylist)

['apple', 'orange', 'banana', 'cherry']

## (C) mylist.insert(1, "orange")

## 19
```
Python has a set of built-in methods that you can use on dictionaries. Which statements are correct ?

(A) clear() will removes all the elements from the dictionary

(B) copy() will returns a copy of the dictionary

(C) items() will returns a list containing a tuple for each key value pair

(D) popitem() will removes the last inserted key-value pair
```

##  ANSWER
``` 
(A) clear() will removes all the elements from the dictionary
(B) copy() will returns a copy of the dictionary
(C) items() will returns a list containing a tuple for each key value pair
(D) popitem() will removes the last inserted key-value pair
```

## 20
```
Python supports the usual logical conditions from mathematics: Which statements are correct ?

(A)Equals: a = b

(B)Not Equals: a != b

(C)Less than or equal to: a <= b

(D)Greater than: a > b
```

```
(A)Equals: a = b

(B)Not Equals: a != b

(C)Less than or equal to: a <= b

(D)Greater than: a > b
```

## 21
```
What is the output of this code in Python?
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1
  ```

In [19]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

## ANSWER 
          (A) 1
              2
              3

## 22
```
What is the output of this code in Python?
i = 0
while i < 6:
  i +=1
  if i == 3:
    continue
  print(i)  
```

In [20]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

```
ANSWER (C) 1
           2
           3
           4
           5
           6

## 23
```
If the function int volume (int x = 1, int y = 1, int z = 1); is called by the expression volume (7,8), how many default arguments are used?

(A) None (B) One (C) Two (D) Three (E) It depends on the runtime environment.
```

## answer (c) two

## 24
```
What is the output of this code in python?

    r = lambda q: q * 2

    s = lambda q: q * 3

    x = 2

    x = r (x)

    x = s (x)

    x = r (x)

    print (x

    A) 2  (B) 4  (C) 6  (D) 12  (E) 24
 ```

In [21]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

##  ANSWER (E) 24

## 25
```
A recursive function is defined as below: def tri_recursion(k):

if(k > 0):

result = k + tri_recursion(k - 1)

print(result)

else:

result = 0

return result

What Is The Last Line Of The Output When tri_recursion(6) is executed?

(A) 6 (B) 10 (C) 15 (D) 21 (E) 28
```

In [22]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

## ANSWER (D) 21